footer
  .main-container
    .footer-cta
      h3.text-white Ready to Catalyze Your Partnerships?
      a.btn.btn-line-primary(href="contact-us") Get In Touch
    .footer-info.text-white
      .footer-logo
        a(href="/")
          img(src="./assets/images/logo-big.png", alt="Nation X")
      .footer-office
        .footer-address
          h3 Los Angeles
          p 117 San Vicente Ave Beverly Hills, CA 90211
        .footer-address
          h3 Dubai
          p 9th Floor, The Offices 4, One Central Dubai World Trade Center, Dubai
        .footer-address
          h3 China
          p 715-17, Building 2, Haiyuan Business Logistics, No. 8 Fu'an Avenue, Hehua Community, Pinghu Street, Longgang District, Shenzhen
    .footer-main
      .footer-nav
        ul
          li
            a(href="#") Terms Of Service
          li
            a(href="#") Privacy Policy
        p.text-white &copy; 2021 Nation X INC,. Full Service Marketing.  All rights reserved. 
      .footer-social
        ul
          li
            a(href="https://www.instagram.com/nationx_usa/", target="_blank")
              img(src="./assets/icons/instagram.png", alt="Nation X")
          li
            a(href="https://www.linkedin.com/company/nationx/?viewAsMember=true", target="_blank")
              img(src="./assets/icons/linkedin.png", alt="Nation X")