if navType === 'white'
  -var navClass = 'nav-white';
else
  -var navClass = '';
header(class= navClass)
  .main-container
    .header-container
      if navClass === ''
        .header-logo
          a(href="index.html")
            img(src="./assets/images/logo.png", alt="Nation X")
      .header-menu
        .header-menu-mobile.js-mobile-menu
          span
          span
        .header-menu-wrapper
          ul
            li
              a(href="service.html") Services
            li
              a(href="about-us.html") About Us
            li
              a(href="case-studies.html") Case Studies
            li
              a(href="news.html") News
            li
              a(href="contact-us.html") Contact Us