extends ../layouts/default-layout.pug
block navbar
  - var navType = "default"
block content
  .main-content
    section.section-about-top
      .main-container
        .about-top-wrapper
          .about-top-image
            img(src="./assets/images/about-hero.jpg", alt="Nation X")
          .about-top-text
            h2 “Surround yourself with a trusted and loyal team. It makes all the difference.“
            p Alison Pincus
    section.section-about-middle
      .main-container
        .about-middle-wrapper
          .about-partnership
            .about-partnership-text.text-white
              h3 Positioning powerful partnerships 
              p Nation X is a company where different worlds and cultures have come together to build a solid bridge between brands  and media creators. From China to Los Angeles to Dubai, passing through Italy, the Nation X team has the capability to work around the clock to ensure the  breathtaking results. 
              p By combining marketers from all different walks of the industry, Nation X  company has emerged as a leading player in the international influencer marketing industry, with the right “hunger’ to achieve what seems impossible.
              p We take care of our creators, we believe in growing together because we know numbers work best when lead by amazing people.
            .about-partnership-image
              img(src="./assets/images/about-partnership.jpg", alt="Nation X")
          .about-brand
            .about-brand-wrapper
              .about-brand-carousel
                .about-brand-item
                  img(src="./assets/images/patpat.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/tiktok.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/zynn.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/dimmak.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/kawaii.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/bigo.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/liveme.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/uplive.jpg", alt="Nation X")
                .about-brand-item
                  img(src="./assets/images/juno.jpg", alt="Nation X")
            .section-title.text-center.text-white
              h2 Our Past Clients
    section.section-about-bottom
      .main-container
        .about-bottom-wrapper
          .section-title.text-center
            h2 What Sets Nation X Apart
          .about-set
            .about-set-image
              img(src="./assets/images/about-set.jpg", alt="Nation X")
            .about-set-text
              p Unlike traditional advertising agencies, we use hard data and innovative experimental strategies that put your brand’s goals as the driving force behind our creativity. 
              ul.list-check
                li Our talent roster consists of thousands of creators from across the globe.
                li Nation X’s roots originate in the live streaming industry.
                li We develop completely custom influencer solutions for client needs
                li Custom In-House Data Driven Influencer Platform (#[a(href="https://www.weavesocial.com/influencers", target="_blank") Weave])
                li Hands-on, white-glove campaign experience.
          .about-team
            .section-title.text-center
              h2 Our Team
              p
                | 9 creatives from 6 different cities, coming together for 1 mission.
                br
                | To help your brand break through the noise!
            .about-team-grid.grid-3
              .col
                .about-team-card
                  img(src="./assets/images/priscilla.jpg", alt="Nation X")
                  h3 Priscilla
                  p Manager
              .col
                .about-team-card
                  img(src="./assets/images/shadon.jpg", alt="Nation X")
                  h3 Shadon
                  p Chief Operations Officer
              .col
                .about-team-card
                  img(src="./assets/images/sunny.jpg", alt="Nation X")
                  h3 Sunny
                  p Head of Talent
              .col
                .about-team-card
                  img(src="./assets/images/michelle.jpg", alt="Nation X")
                  h3 Michelle
                  p Campaign Manager
              .col
                .about-team-card
                  img(src="./assets/images/chelsea.jpg", alt="Nation X")
                  h3 Chelsea
                  p Public Relation
              .col
                .about-team-card
                  img(src="./assets/images/denise.jpg", alt="Nation X")
                  h3 Denise
                  p Campaign Manager
              .col
                .about-team-card
                  img(src="./assets/images/david.jpg", alt="Nation X")
                  h3 David
                  p Head of Business Development
              .col
                .about-team-card
                  img(src="./assets/images/sandy.jpg", alt="Nation X")
                  h3 Sandy
                  p Operations
              .col
                .about-team-card
                  img(src="./assets/images/xiomara.jpg", alt="Nation X")
                  h3 Xiomara
                  p Campaign Manager
          .about-testimonials
            .about-testimonials-container
              .section-title
                h2 Testimonials
                h3 What our clients are saying about us
              .about-testimonials-card
                .about-testimonials-image
                  img(src="./assets/images/patpat-testimonial.jpg", alt="Nation X")
                .about-testimonials-text
                  h3 Anthony Y (Tony) Tsai
                  span Head of Marketing &amp; Consultant to the CEO @ PatPat
                  p NationX has been a tremendous partner in terms of Social/Influencer marketing services and External Relations (ER) services. The number and quality of ER features has exceeded our expectations. The NationX team has been strategic, responsive, professional and results-oriented. I highly recommend NationX as a partner.
    section.section-about-image(style="background-image: url('./assets/images/about-bg.jpg');")
      .main-container
        .about-image-wrapper
          h2 Using our data driven approach, Nation X develops symbiotic relationships between brands &amp; top-tier influencers.