extends ../layouts/default-layout.pug
block navbar
  - var navType = "default"
block content
  .main-content
    section.section-news-detail
      .main-container
        .news-detail-wrapper
          .news-detail-top.text-center
            ul
              li
                a(href="#") Influencer Marketing
            h1 Trending Ways Beauty Brands Use Influencers To Reach Gen Z
            span Jun 22, 2020
          .news-detail-image
            img(src="./assets/images/news-detail.jpg", alt="Nation X")
          .news-detail-content
            p Hasellus suscipit orci ut urna fermentum interdum. Sed erat eros, rutrum ac urna quis, posuere commodo mauris. Maecenas sodales est in vestibulum facilisis. Morbi augue justo, viverra sed bibendum rhoncus, tempus sit amet sapien. Cras rhoncus elit et faucibus lacinia. Aliquam ut libero nisi. Pellentesque vehicula mauris vitae ante euismod, et varius erat vulputate. Praesent in tincidunt eros. Donec porttitor lectus enim, et maximus quam maximus ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ullamcorper in quam a blandit. Aenean lobortis libero quis placerat tempus. Proin eu dolor hendrerit, facilisis nibh faucibus, faucibus ante. Nulla auctor est tortor, ac maximus turpis tincidunt in. Phasellus nec mauris in lacus tincidunt eleifend vitae at metus. Suspendisse malesuada, libero eget pharetra tincidunt, nibh lectus imperdiet sem, ac dapibus lectus arcu eget odio.
            p Hasellus suscipit orci ut urna fermentum interdum. Sed erat eros, rutrum ac urna quis, posuere commodo mauris. Maecenas sodales est in vestibulum facilisis. Morbi augue justo, viverra sed bibendum rhoncus, tempus sit amet sapien. Cras rhoncus elit et faucibus lacinia. Aliquam ut libero nisi. Pellentesque vehicula mauris vitae ante euismod, et varius erat vulputate. Praesent in tincidunt eros. Donec porttitor lectus enim, et maximus quam maximus ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ullamcorper in quam a blandit. Aenean lobortis libero quis placerat tempus. Proin eu dolor hendrerit, facilisis nibh faucibus, faucibus ante. Nulla auctor est tortor, ac maximus turpis tincidunt in. Phasellus nec mauris in lacus tincidunt eleifend vitae at metus. Suspendisse malesuada, libero eget pharetra tincidunt, nibh lectus imperdiet sem, ac dapibus lectus arcu eget odio.
          .news-detail-share
            ul
              li
                a(href="#")
                  img(src="./assets/icons/instagram-dark.png", alt="Nation X")
              li
                a(href="#")
                  img(src="./assets/icons/linkedin-dark.png", alt="Nation X")
            a(href="#")
              span Share Now
              img(src="./assets/icons/share.png", alt="Nation X")
        .news-relate
          h3 More Article
          .news-grid.grid-3
            .col
              .news-card
                a(href="news-detail.html")
                  img(src="./assets/images/news-2.jpg", alt="Nation X")
                ul
                  li
                    a(href="#") Influencer Marketing
                a(href="news-detail.html")
                  h3 Article Title
                span Jun 22, 2020
            .col
              .news-card
                a(href="news-detail.html")
                  img(src="./assets/images/news-3.jpg", alt="Nation X")
                ul
                  li
                    a(href="#") Influencer Marketing
                a(href="news-detail.html")
                  h3 Article Title
                span Jun 22, 2020
            .col
              .news-card
                a(href="news-detail.html")
                  img(src="./assets/images/news-4.jpg", alt="Nation X")
                ul
                  li
                    a(href="#") Influencer Marketing
                a(href="news-detail.html")
                  h3 Article Title
                span Jun 22, 2020