extends ../layouts/default-layout.pug
block navbar
  - var navType = "default"
block content
  .main-content
    section.section-case-study
      .main-container
        .case-study-container
          h1 PatPat Influencers
          .case-study-triple
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-influencers-1.jpg", alt="Nation X")
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-influencers-2.jpg", alt="Nation X")
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-influencers-3.jpg", alt="Nation X")
          .case-study-detail
            .case-study-points
              ul.list-check.list-check-big.grid-2
                li Influencers - 200+
                li Total Reach - 74M+
                li Impressions - 23M+
                li Average Post Engagement - 2.3%
                li Content Pieces - 500+
            .case-study-text
              .grid-2
                .col
                  p Since Spring of 2020, Nation X has executed several boutique influencer campaigns for PatPat.In less than 6 months Nation X will have connected PatPat with nearly 75 Million targeted parental eyes! This total reach presents an earned media value of well over $500,000. Capitalizing on a trifecta of micro and macro influencers and Youtubers alike, PatPat is transforming into a positive addictive consumer behavior for millennial moms and boomers across the globe.
                .col
                  p In 2020 alone Nation X connected PatPat with over 200 influencers who created a collective 550+ pieces of content. With far lower CPMs than traditional banner ads on either Facebook, or even Instagram, influencers help maximize marketing expense.