extends ../layouts/default-layout.pug
block navbar
  - var navType = "default"
block content
  .main-content
    section.section-service-top
      .main-container
        .service-top-wrapper
          h1 Nation X uses data rich analytics to custom tailor highly engaged influencer campaigns
          img(src="./assets/images/service-hero.jpg", alt="Nation X")
    section.section-service-middle
      .main-container
        .service-middle-wrapper
          .service-middle-group
            .service-middle-image
              img(src="./assets/images/service-agency.jpg", alt="Nation X")
            .service-middle-text.text-white
              h3 Full Service Agency Working Worldwide!
              p Sub Description- Nation X creates disruptive viral influencer experiences which allow brands to break through the noise and stand out from the cacophony. Always using data and experience to drive our actions, we ensure that your brand's objectives are at the forefront of our decisions.
              p Nation X talent network ranges across the globe. During the past five years we have successfully executed thousands of activations using our extended reach of over 2,000,000 influencers worldwide. This has allowed Nation X to connect brands with top- tier talent from 4 different continents. This service has developed into creating a cohesive data orientated media solution for global brands.
          .service-middle-group
            .service-middle-image
              img(src="./assets/images/service-campaign.jpg", alt="Nation X")
            .service-middle-text.text-white
              h3 Full-Service Campaigns Include
              .service-middle-list
                ul.list-check.list-check-white
                  li Campaign Strategy development
                  li Influencer curation
                  li Influencer validation
                  li Influencer negotiation &amp; contracting
                  li Influencer presentation
                ul.list-check.list-check-white
                  li 1099s + Payments
                  li Content auditing
                  li FTC compliance
                  li Paid media needs
                  li Analytics and Reporting
    section.section-service-bottom
      .main-container
        .service-bottom-wrapper
          .service-bottom-card
            .service-bottom-image
              img(src="./assets/images/talent-sourcing-creative-activations.png", alt="Nation X")
            h3 Talent Sourcing &amp; Creative Activations
            p Our full-service influencer campaigns are designed around guiding word of mouth by leveraging our organic relationships with influencers. We'll draft your army of brand ambassadors.We use results from past campaigns, follower demographic, audience interests, engagement rates, to identify which creators are the best fit. Imagine a 100 person squad of community advocates, sharing your business with local consumers.
          .service-bottom-card
            .service-bottom-image
              img(src="./assets/images/scalable-influencer-insights.png", alt="Nation X")
            h3 Scalable Influencer Insights
            p By combining their rich focus group background, Nation X’s leaders have designed industry leading strategies to survey influencers on their insights regarding brand objectives at scale… Capture “super consumer” knowledge from the social superstars, and Iterate your brands products and services based on feedback from those who push trends.
          .service-bottom-card
            .service-bottom-image
              img(src="./assets/images/irl-influencer-activation.png", alt="Nation X")
            h3 IRL Influencer Activation 
            p Influencers love to step past their social media platforms and engage with their fans in person. Whether influencers are streaming your brand’s next event or blogging at your next Keynote, connect your audience with influencers that actually resonate with your brand.
          .service-bottom-card
            .service-bottom-image
              img(src="./assets/images/paid-media.png", alt="Nation X")
            h3 Paid Media
            p After identifying which influencers provide the best ROI on their posts, Nation X allows brands to post ads through influencer accounts to reach more curated audiences. Paid Ads are optimal for CTA based initiatives.
          .service-bottom-card
            .service-bottom-image
              img(src="./assets/images/content-creation.png", alt="Nation X")
            h3 Content Creation
            p Consumers engage with 11 pieces of content prior to making a purchase. Our entire team of creatives share a passion for designing content that captivates.
          .service-bottom-card
            .service-bottom-image
              img(src="./assets/images/ecommerce-livestreaming.png", alt="Nation X")
            h3 E-Commerce Livestreaming
            p Our founders come from the livestreaming industry and now what it takes to captivate live audiences to sell products in realtime. In China Kim Kardashian sold over $2M of product in less than an hour via a sponsored live streaming. We help brands activate their livestreaming strategy using our vetted group of veteran streamers.