extends ../layouts/default-layout.pug
block navbar
  - var navType = "default"
block content
  .main-content
    section.section-case-study
      .main-container
        .case-study-container
          h1 Ulike Camera
          .case-study-triple
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-ulike-1.jpg", alt="Nation X")
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-ulike-2.jpg", alt="Nation X")
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-ulike-3.jpg", alt="Nation X")
          .case-study-detail
            .case-study-points
              ul.list-check.list-check-big.grid-2
                li 60 Influencers
                li Reach - 28 Million
                li Likes - 6,340,000
                li Views - 14,500,868
            .case-study-text
              .grid-2
                .col
                  p Nation X managed Ulike Camera’s Instagram profile. growing their Instagram audience from 200 followers to north of 40,000 followers. Over the course of a year, we connected Ulike with 60 unique Asian influencers for their launch campaign which catalyzed most of their growth.
                .col
                  p These beauty influencers were critical to the app's success worldwide. Nation X developed a hashtag campaign that saw more than 750 users to compete for unique prizes.