extends ../layouts/default-layout.pug
block navbar
  - var navType = "default"
block content
  .main-content
    section.section-case-study
      .main-container
        .case-study-container
          h1 Zynn
          .case-study-triple
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-zynn-1.jpg", alt="Nation X")
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-zynn-2.jpg", alt="Nation X")
            .triple-iphone-wrapper
              .triple-iphone-mask
                img(src="./assets/images/iphone.png", alt="Nation X")
              img(src="./assets/images/iphone-zynn-3.jpg", alt="Nation X")
          .case-study-detail
            .case-study-points
              ul.list-check.list-check-big.grid-2
                li Influencers - 350+
                li Total Reach - 90 Million
                li Total Impressions - 10,700,000
            .case-study-text
              .grid-2
                .col
                  p Zynn is the number one short form video app in China. Nation X helped their parent company Kawaii break into the United States market. Each month Nation X connects Zynn with 150  creators each month who post a collective 3,000 pieces of unique content exclusively for Zynn. These videos have amassed over 1,700,00 views per month.
                .col
                  p Due to Nation X’s success in the United States, Zynn specifically asked for Nation X’s exclusive support In South America. Nation X has also helped pair Kawaii with over 50 influencers in spanish speaking countries like Argentina, Colombia and Peru. Nation X has transformed into Kawaii’s right hand for all creator onboarding in all seven continents.